td
{
    border-style: solid;
    border:"3pt";
    width:150px ;
    height: 70px;
    border-color:red;
    border-radius: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
     
}